div{
    padding: 15px;
    background-color: tomato;
    display: inline-block;
    font-size: 1,5rem;
}
html{
    height: 100%;
}
    body{
     display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:50px;
    justify-content: cen
    height: 100%;
    width: 30px;

    transition: transform 1s ease-in-out;
}